.navbar{
    position: fixed;
    height: 60x;
    top:0;
    width: 100%;
    transition: top 0.2s ease-in-out;
}
/*styling of header image*/
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../images/imageone.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
  }
 h1{
     color: white !important; 
 }

 .div-content{
     background-color: rgb(240, 229, 240);
 }

 .main-title{
    font-family: 'Open Sans', sans-serif;
 }
 .our-expertise-card{
    box-shadow: 0 9px 22px 0 rgba(0,0,0,.1);    
 }
 .card-body{
    flex: 1 1 auto;
 }

 .from-the-news-card{
    box-shadow: 0 20px 30px 5px rgba(0,0,0,.1);
 }

 i{
     margin: 10px;
 }
 /* slider style rules */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}