.contact-header{
    background-image: url('../images/contactimg.jpg');
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.contact-us-card{
    box-shadow: 0 9px 22px 0 rgba(0,0,0,.1);
}