.projects-header{
    background-image: url('../images/projectimage.png');
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

