.services-header-image{
    height: 100vh;
    min-height: 500px;
    background-image: url('../images/servicesimg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}